* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

/* Header styles */
.fist-header {
    height: 90px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* Navigation bar styles */
.navBar {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo {

    font-size: 34px;
    font-weight: bold;
    color: #f40000;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    width: 120px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 5px;
}

.navBar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    padding: 10px 10px;
    font-weight: normal;
    font-family: sans-serif;
    text-transform: uppercase;
}

a:hover {
    color: #f00;
}

.satart {
    color: #ffffff;
    padding: 10px 14px;
    border-radius: 65px;
    margin-right: 20px;
    cursor: pointer;
}

.menu {
    display: none;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

/*section header*/
.header {
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(7, 4, 4, 0.064), #03031b), url('bot1.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    height: 80vh;
    margin: 0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.headBox {
    width: auto;
    margin: 0 auto;
    text-transform: uppercase;
}

.welcomeText {
    margin: 0 auto;
    align-items: center;
    width: auto;
}

.headBox img {
    width: 300px;
}

.headToolBox button {
    border-radius: 100px;
    border: solid rgb(255, 255, 255) 1px;
    background-color: transparent;
    color: #fff;
    padding: 8px;
    height: 50px;
    width: 210px;
    font-size: 23px;
}

.welcomeText h1,
h2 {

    text-align: center;
}

/*about-section*/
#objectif {
    margin: 0 auto;
    padding: 20px;
    background-color: #03031b;
}

.objectifContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 9px;
    background-color: #05052b;
    border-radius: 40px;
}

.objectif .imageContainer {
    padding: 12px;
}

.imageContainer img {
    height: auto;
    width: 400px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

/*section objectif*/
#objectif .textContainer {
    width: 32.99%;
    color: #ffffff;
    padding: 0 20px;
    text-align: center;
}

#inscription-btn {
    width: 230px;
    height: 55px;
    background-color: transparent;
    border: white solid 2px;
    color: #ffffff;
    font-size: 30px;
    border-radius: 40px;
}

.aboutmeContainer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section*/
#services {
    padding: 10px;
    margin: 0;
    color: black;
}

.servText {
    text-align: center;
    font-size: 43px;
}

.proSmalText {
    text-align: center;
    color: #ccc;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    font-weight: 2;
    margin: 0 auto;
}

.servicesLayout {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service_item {
    background-color: #222;
    float: left;
    width: 18.999%;
    height: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 12px;
    border-radius: 12px;
}

.service_item1 {
    border: #eee 1px solid;
    border-radius: 20px;
    background-position: center;
    float: left;
    width: 20.999%;
    height: 300px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 12px;
    border-radius: 12px;
}

.service_item2 {
    border: #eee 1px solid;
    border-radius: 20px;
    background-position: center;
    float: left;
    width: 20.999%;
    height: 300px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 12px;
    border-radius: 12px;
}

.service_item3 {
    border: #eee 1px solid;
    border-radius: 20px;
    background-position: center;
    float: left;
    width: 20.999%;
    height: 300px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 12px;
    border-radius: 12px;
}

.service_item4 {
    border: #f00 1px solid;
    border-radius: 20px;
    float: left;
    background-position: center;
    width: 20.999%;
    height: 300px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 12px;
    border-radius: 12px;
}

.serviceTextCont h2 {
    font-size: 20px;
    text-align: center;
}

.service_item1 p {
    font-size: 14x;
    text-align: left;
    color: #929292;
}

.service_item2 p {
    font-size: 14x;
    text-align: left;
    color: #929292;
}

.service_item3 p {
    font-size: 14x;
    text-align: left;
    color: #929292;
}

.service_item4 p {
    font-size: 14x;
    text-align: left;
    color: #929292;
}

.service_item1 img {
    width: 60px;
    margin: 0 auto;
}

.service_item2 img {
    width: 60px;
    margin: 0 auto;
}

.service_item3 img {
    width: 60px;
    margin: 0 auto;
}

.service_item4 img {
    width: 60px;
    margin: 0 auto;
}

/* section apropos*/
#aboutUs {
    color: #fff;
    padding: 16px;
    background-color: #111;
    border-bottom: 1px solid #000;
    overflow: hidden;
}

#aboutUs h1 {
    text-align: center;
    color: #3d3832;
}

.aboutWrap {
    width: 500px;
    margin: 0 auto;
    padding: 16px;
}

.aboutWrap p {
    color: #3d3832;
}

/* section team*/
#team {
    margin: 0;
    padding: 0;

}

#team .teamTitle {
    font-size: 35px;
    text-align: center;
    color: #fff;
}

#team .teamTitle span {
    color: #000000;

}

.teamContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_item {
    overflow: hidden;
    width: 250px;
    height: 400px;
    margin: 7px;
    background-position: center;
    padding: 0px;
    position: relative;
    float: left;
}

.team_item:hover {
    cursor: pointer;
}

.fond1 {
    background-image: url('dame1.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.fond2 {
    background-image: url('homme2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.fond3 {
    background-image: url('dame2.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.fond4 {
    background-image: url('homme3.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.info {
    width: 100%;
    height: 0;
    position: absolute;
    padding: 6px;
    background-color: #000;
    color: #fff;
    opacity: 0.9;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.team_item:hover .info {
    display: block;
    height: 60%;
    border-top: 1px solid #f00;
    background-image: linear-gradient(#ff000000, #11111100);
}

.team_item .info h2 {
    margin-left: 10px;
    font-size: 30px;
    text-align: start;
    color: #f00;
}

.team_item .info h3 {
    margin-left: 12px;
    text-align: start;
    color: #ffffff;
}

.info p {
    text-align: left;
    margin: 15px;
    font-size: 15px;
    width: 100%;
}

/* nos tech*/
.our_technologie {
    display: flex;
    padding: 0px;
    height: 95vh;
    margin: 0;
}

.techContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.tech_item {
    display: flex;
    color: white;
    padding: 12px;
    width: 100%;
    height: 100%;
    margin: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#000000d7, #111111), url('dame1.jpg');
    
}

.tech_item div {
    align-items: center;
    text-align: start;
    top: 100%;
    width: 250px;
    margin: 0 auto;

}

.tech_item div button {
    width: 200px;
    margin: 0 auto;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    height: 50px;
    color: #ffffff;
    border-radius: 90px;
    font-size: 18px;
}

.tech_item h1 {
    text-align: center;
    font-family: sans-serif;

}

.tech_item div button:hover {
    background-color: #dcd7d7;
    color: #000;
    border: none;

}

/*nos partenaires*/
.partners {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.partners .container {
    margin: 0 auto;
    padding: 0 20px;
}

.partners h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
}

.partners h3 {
    text-align: center;
    font-size: 23px;
    color: #797878;
    font-style: normal;
}

.partner-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-logos img {
    width: 150px;
    margin: 0 10px;
}

/*for heart*/
.for-heart-section {
    margin: 0;
    padding: 10px;
    display: flex;
    color: #fff;
}

/* footer section */
.footer {
    align-items: center;
    justify-content: center;
    background-color: #222;
    margin: 0;
    display: flex;
    padding: 20px;
    color: #666;
}

.foot-container {
    display: flex;
    align-items: start;
    text-align: left;
}

.footItem {
    float: left;
    margin: 12px;
    padding: 12px;
}

/* Media queries */
/* Ajoutez ce code à votre fichier main.css */

/* Media queries */
@media screen and (max-width: 768px) {
    .navBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }

    li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu {
        display: block;
    }

    /* Styles pour rendre l'en-tête plus compact */
    .header {
        height: 30vh;
        width: 100%;
    }

    .welcomeText {
        font-size: 24px;
    }

    .headToolBox button {
        font-size: 16px;
        height: 40px;
        width: 150px;
    }

    /* Ajoutez ce code aux médias queries existants */

    /* Styles pour la section objectif */
    #objectif {
        margin: 0 auto;
        padding: 20px;
        background-color: #03031b;
    }

    #objectif .textContainer {
        width: 100%;
        color: #ffffff;
        padding: 0 10px;
        text-align: center;
    }

    #inscription-btn {
        width: 200px;
        height: 45px;
        font-size: 24px;
    }

    .aboutmeContainer {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* Styles pour les sections de services */
    .servText {
        font-size: 32px;
    }

    .service_item,
    .service_item1,
    .service_item2,
    .service_item3,
    .service_item4 {
        width: 100%;
        margin: 10px 0;
        padding: 12px;
    }

    /* Styles pour la section "À propos de nous" */
    #aboutUs h1 {
        font-size: 28px;
    }

    .aboutWrap {
        width: 100%;
        padding: 12px;
    }

    .aboutWrap p {
        font-size: 14px;
    }

    /* Styles pour la section "Nos teams" */
    #Team .teamTitle {
        font-size: 28px;
    }

    .team_item {
        width: 100%;
        height: 250px;
        margin: 10px 0;
    }

    .team_item .info h2 {
        font-size: 20px;
    }

    .team_item .info h3 {
        font-size: 16px;
    }

    .info p {
        font-size: 12px;
    }

    /* Styles pour la section "Nos technologies" */
    .tech_item {
        height: 250px;
        margin: 10px 0;
    }

    .tech_item div button {
        font-size: 14px;
        height: 30px;
        width: 120px;
    }

    .tech_item h1 {
        font-size: 20px;
    }

    /* Styles pour la section du footer */
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .foot-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footItem {
        float: none;
        margin: 12px;
        padding: 12px;
        text-align: center;
    }
}